body {
  padding: 10px;
}

h1 {
  font-size: 14pt;
  text-align: center;
}

.panel-body {
    font-family: Junicode;
    padding: 15px;
    border: 1px solid black;
    margin: 10px;
    padding-bottom: 30px;
}


@font-face {
    font-family: 'Junicode';
    font-style: normal;
    font-weight: normal;
    src: local("Junicode"),
    url('deps/junicode-woff/Junicode.woff') format('woff');
}

@font-face {
    font-family: 'Junicode';
    font-style: normal;
    font-weight: bold;
    src: local("Junicode Bold"),
    local("Junicode-Bold"),
    url('deps/junicode-woff/Junicode-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Junicode';
    font-style: italic;
    font-weight: normal;
    src: local("Junicode Italic"),
    local("Junicode-Italic"),
    url('deps/junicode-woff/Junicode-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Junicode';
    font-style: italic;
    font-weight: bold;
    src: local("Junicode BoldItalic"),
    local("Junicode-BoldItalic"),
    url('deps/junicode-woff/Junicode-BoldItalic.woff') format('woff');
}


span.page {
	font-weight: bold;
}

br.clear {
    clear: both;
}

span.clear {
    clear:left;
}

.rubric {
    color: red;
}

.red{
    color: red;
}

.tooltip_templates {
    display: none;
}

#verse-Rubric {
    color: red;
}

span.hover {
    color: RoyalBlue;
}

sub {
    color: grey;
}

.expansion {
    color: grey;
}

.tm, .bm, .bot-right, .bc {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.tr, .br {
    float: right;
}

.tl, .bl {
    float: left;
}


.app {
    color: #2ea297;
}

.ul {
    text-decoration: underline;
}

.ul .space, .strike .space {
    text-decoration: none;
    display: inline-block;
}

.strike {
    text-decoration: line-through;
}

.red .expansion {
    color: salmon;
}

.rubric .expansion {
    color: salmon;
}

.chapter {

    float: left;
    color: #4169e1;
    font-size: 40px;
    line-height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.column {
    background-color: #fff;

}

.subcolumn {
    background-color: #fff;

}

.gap::before {
    content: "[";
}

.gap::after {
    content: "]";
}

.init1, .rubricinit1 {
    font-weight: bold;
    font-size: 16px;
}

.init {
    float: left;
    color: #903;
    font-size: 70px;
    line-height: 50px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 3px;
}

.rubricinit {
    font-size: 25px;
    font-weight: bold;
}

.note {
    font-size: 20px;
}
