{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}" >
        <script type="text/javascript" src="{% static 'estoria_app/js/jquery-3.6.1.min.js' %}"></script>
        <title>{{ page_title }}</title>
        {% endblock %}
    </head>
    <body>

    <div id="menu">
        <a href="/estoria-admin/transcriptions">Transcriptions</a> | <a href="/estoria-admin/readerxml">Reader XML</a> | <a href="/estoria-admin/apparatus">Baking</a> | <a href="/estoria-admin/critical">Critical Edition</a>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    </body>
</html>
