<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}" >
        <title></title>
    </head>
    <body>

    <div id="menu">
        <a href="transcriptions">Transcriptions</a> | <a href="readerxml">Reader XML</a> | <a href="baking">Baking</a> | <a href="critical">Critical Edition</a>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    </body>
</html>